name: End-to-end tests
on: [push, pull_request]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install dependencies
      run: |
        npm install
        chmod -R +x node_modules/.bin

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    - name: Run CodeceptJS tests
      run: npx codeceptjs run --steps

    - name: Upload Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: playwright-report
        path: output/
        retention-days: 30